body{
    font-family: Arial, Helvetica, sans-serif;
    color:#666;
    line-height: 1.7;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-color: beige;
    padding: 72px 40px;
    box-sizing: border-box;
    background-image: url(./imagens/overlay.png), url(./imagens/bg.jpg);
    background-position: top center;
    background-size: auto, cover;
    text-align: right;
}
.main-header-title{
    font-size: 22px;
    line-height:1.5 ;
    color: rgb(206, 206, 206);
    font-weight: normal;
}
.main-header-title strong{
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.911);
    text-transform: capitalize;
}
.main-header-title-link:hover{
    color: rgb(0, 134, 123);
}
.main-header-title-link{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.918);
}
.main-header-social{
    text-align: right;
    padding-top:50% ;
    box-sizing: border-box;
}
.main-header-social .fa-brands{
    margin-left: 3%;
    font-size: 20px;
}
.main-header-footer-text{
    margin-top: 0;
}
.main-header-footer strong{
    text-decoration: dashed;
    text-transform: uppercase;
}
.main-header-img{
    border-radius: 100px;
}
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 72px 40px;
    box-sizing: border-box;
}
