@font-face {
    font-family: "esquadrao";
    src: url(./fontes/Aachen\ Bold\ BT.eot);
    src: url(./fontes/Aachen\ Bold\ BT.woff) format("woff"),
    url(./fontes/Aachen\ Bold\ BT.ttf) format('truetype'),
    url(./fontes/Aachen\ Bold\ BT.svg) format('svg');
}


body{
    margin: auto;
    width: 85%;
    background-color: rgba(231, 222, 222, 0.603);
}

.introducao{
    text-align: center;
}

.cada{
    background-color: rgb(255, 72, 0);
    margin: 0px auto 0px auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 200px;
    
}

.imagem-container{
    margin: auto;
    width: 90%;
}

.imagem-container img{
    width:100%;
    border-radius: 10px;

}

.texto{
    border-radius: 20px;
    width: fit-content;
    box-sizing: border-box;
    
}

.texto div{
    margin-bottom: 20px;
    border-radius: 20px;
}

.texto div:nth-child(n+1){
    
    margin-top: 30px;
}

.orange{
    background-color: rgba(255, 123, 0, 0.678);
    padding: 1px 10px;
}

.texto div p:nth-child(2){
    font-family: esquadrao;
    color: rgba(0, 0, 0, 0.788);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
    
}

.titulo{
    margin-top: 0%;
    font-family: esquadrao;
    color: yellow;
    text-shadow: 2px 4px rgb(0, 0, 0);
    font-size: 30px;
}

.custom-default{
    font-family: esquadrao;
    text-align: center;
    font-size: 50px;
    margin: 0%;
    color: yellow;
    text-shadow: 2px 5px black;
    margin-bottom: 20px;
}


/* interestelar */
.main-title-interestelar{
    color: #f4e7d7;
}
.blue .titulo {
    position: relative;
    top: 10px;
    color: rgba(244,235,219,255);
}

.cada:nth-child(2){
    background-color:rgba(2,26,36,255);
}

.blue{
    background-color:rgba(31,54,61,255);
    padding: 1px 10px;
}

.texto .blue p:nth-child(2){
    color: rgba(255, 255, 255, 0.822);
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
    
}
/* interestelar */


/* ford vs ferrari */
.ford{
    color: white;
}

.cream .titulo{
    color: rgba(25,127,180,255);
    text-shadow: none;
}

.cream{
    background-color:rgba(176,186,194,255);
    padding: 1px 10px;
}

.cada:nth-child(3){
    background-color:rgba(11,47,90,255);
}

.texto .red p:nth-child(2){
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
}
/* ford vs ferrari */


/*jojo habit*/
.jojo .titulo, .jojo {
    color: white;
}

.jojo .red p{
    color:rgb(44, 42, 42);
    text-shadow: none;
}

.red{
    background-color: rgba(214,198,181,255);
    padding: 1px 10px;
}  

.cada:nth-child(4){
    background-color:rgba(167,37,37,255);
}

.texto .red p:nth-child(2){
    color:rgb(44, 42, 42);
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
    
}
/*jojo habit*/


/* ilha do medo */
.filmes .ilha{
    background-color:rgb(19, 41, 43);
}

.texto .ilha{
    background-color: rgb(36,77,79);
    padding: 1px 10px;
}

.ilha, .ilha .titulo{
    color: rgb(214, 163, 7);
}

.texto .ilha p:nth-child(2){
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
    
}
/* ilha do medo */


/* batman */
.filmes .batman{
    background-color:rgb(26, 25, 25);  /* fundo */
}

.filmes.batman div .batman{
    background-color: rgb(24, 23, 23);  
}

.texto .batman{
    background-color: rgb(15, 15, 15);  /* fundo do sub-titulo  */
    padding: 1px 10px;
}
.batman .titulo{
    color: rgb(255, 193, 7);  /* sub-titulo */
}
.batman, .batman .batman{
    color: rgb(255, 193, 7);  /* titulo */
}

.texto .batman p:nth-child(2){
    color:rgb(250, 248, 248);
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 5px;
    
}
/* batman */

/* o abutre */
.filmes .abutre{
    background-color: rgba(9,59,70,255);
}
.fimes .abutre div .abrute{
    background-color: rgb(255, 255, 255);
}
.abutre, .abutre .abutre{
    color: white;
}
.abutre .titulo{
    color: white;
} 
.texto .abutre{
    background-color:rgb(11, 73, 88);
    padding: 1px 10px;
}

/* o abutre */

/* fazer as imagens pequenas e caber inteiras */
/* adicionar sombra nas bordas(efeito 3d) */
/* colocar fixed como botão de voltar ao ínicio da página */
/* header com nav */
/* footer */
/* descrever as imagens no alt */
/* um switch de três posições, claro, escuro e colorido */