@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto';
    font-weight: 600;
    background-color: #ccc;
    margin: 0;
}
.itens{
    background-image: url(./imagens/bg-3.jpg);
    background-position:right center;
    background-size: cover;
    
}
.list{
   list-style: none;
   display: flex;
   justify-content: flex-end;
   margin-top: 0%;
   padding: 20px;
   
}
.list li{
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px white;
    color: white;
    padding: 7px;
    margin-left: 10px;
    font-size: 20px;
    padding-bottom: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(233, 225, 225, 0.87);
    text-transform: uppercase;
    letter-spacing: 1px;
    
    
}
.list li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.list li a{
    all: unset;
    cursor: pointer;

}

.center{
    margin-top: 20%;
    text-align: center;
    padding-bottom: 150px;
}
.center h1{
    text-shadow: 3px 2px 1px rgb(26, 24, 24);
    color: white;
    font-size: 40px;
}


.center button{
    all: unset;
    font-size: 20px;
   border-bottom: rgb(255, 254, 254) solid 2px;
   background-color: rgb(46, 42, 42);
   padding: 15px;
   padding-bottom: 1px;
   color: white;
   border-radius: 5px;

}


.elements{
    background-color: white;
   margin-bottom: 30px;
   overflow: hidden;
   
   
}
main{
    width: 80%;
    margin: auto;
}

.card{
    width: 30%;
    margin-top:2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    float: left; 
    box-shadow: 4px 4px 3px #000000a6;
    
    
    
}
.card-1 {
    margin-right: 2%;
    margin-left: 3%;
}
.card-2{
    margin-right: 2%;
    
}


.card p{
    text-align: center;
    margin: 0%;
    background-color: rgba(128, 128, 128, 0.541);
    padding: 7px;
    
}
.card p:hover{
    background-color: #ccc;
    
}
.card img{
    width: 100%;
    display: block;
    
}

footer{text-align: center;
    background-color: grey;
    margin: 20px 0% 0% 0%;
    padding: 10px;
    clear:both
}


